.navbar.center .navbar-inner {
  text-align: center;

  
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

.Nav-content
{


  background-color:black;
  font-size:20px;
  position: absolute;;
  left:50%;
  transform:translateX(-50%);
  transition:all 0.5s;

  
  

}

.Nav-link{
  
  color:#86c232;
  border-radius:1rem;
  padding:1rem 1rem;
  font-size:1.8rem;
  background-color:black;; 
  box-shadow: .1rem .1rem black;
}

.Nav-link:hover{
  color:#61892f;



}


.Nav-content-two
{

  font-size:1.5rem;
  position: absolute;;
  left:60%;
  transform:translateX(-50%);
  transition:all 0.5s;
 

  

}

.Navbar
{
  background-color:black;
  overflow:hidden;
  margin:0px;

}
.logo-size{
  height: 100%;
  width:50px;
  background-color: "white";
  transform:translateX(0%);
  transition:all 1.5s;
}