
/* .navbar.transparent.navbar-inverse .navbar-inner {
    border-width: 0px;
    -webkit-box-shadow: 0px 0px;
    box-shadow: 0px 0px;
    background-color: rgba(0,0,0,0.0);
    background-image: -webkit-gradient(linear, 50.00% 0.00%, 50.00% 100.00%, color-stop( 0% , rgba(0,0,0,0.00)),color-stop( 100% , rgba(0,0,0,0.00)));
    background-image: -webkit-linear-gradient(270deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
    background-image: linear-gradient(180deg,rgba(0,0,0,0.00) 0%,rgba(0,0,0,0.00) 100%);
}*/



.navbar-inner{
  background-color:rgba(0,0,0,1);


}
#navBar{

  background-color:rgba(0,0,0,1);
  height:13rem;
  border-top:10px solid #86c232;
}


.Nav-content
{


  background-color:rgba(0,0,0,1);
  font-size:20px;



  


}

.Nav-link{
  
  color:#86c232;
  border-radius:.5rem;
  padding:1rem 1rem;
  font-size:2rem;
  background-color:rgba(0,0,0,1);
}

.Nav-link:hover{
  color:#61892f;

}



.Nav-content-one
{

  font-size:1.5rem;
  position: absolute;
  left:15%;
  top:20%;
  transform:translateX(-20%);
  transition:all 0.5s;
  padding:0px 100px;

}
.Nav-content-two
{

  font-size:1.5rem;
  position: absolute;
  right:20%;
  top:20%;
  transform:translateX(30%);
  transition:all 0.5s;

}


.Navbar
{
  background-color:black;
  overflow:hidden;
  margin:0px;
  position:absolute;


}
.logo-size{
  position:absolute;
  top:-30%;
  left:375px;
  height: 20rem;
}
.onscroll-navContent1{
  font-size:1.5rem;
  position: absolute;
  top:20%;
  left:50%;
  transform:translateX(-75%);
  transition:all 0.5s;

}

.onscroll-navContent2{
  font-size:1.5rem;
  position: absolute;
  top:20%;
  left:50%;
  transform:translateX(-100%);
  transition:all 0.5s;

}





.onScroll-logo{
  position:absolute;
  top:-2.5rem;
  left:-2rem;
  height:17rem;
  transform:translateY(0%);
  padding:0px;
}
.half-circle {
    width: 230px;
    height: 130px; /* as the half of the width */
    background:transparent;
    border-bottom-left-radius: 140px;  /* 100px of height + 10px of border */
    border-bottom-right-radius: 140px; /* 100px of height + 10px of border */
    border: 10px solid #86c232;
    border-bottom: 0;
}

.left-side{
  position:absolute;

}
.onScroll-navContent{

}