.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

.Nav-content
{
  background-color:black;
  font-size:20px;
  position: absolute;;
  left:50%;
  transform:translateX(-50%);
  transition:all 1.5s;
  

}
.Nav-content-two
{
  background-color:black;
  font-size:20px;
  position: absolute;;
  left:60%;
  transform:translateX(0%);
  transition:all 1.5s;

  

}

.Navbar
{
  background-color:black;
  overflow:hidden;
}
.logo-size{
  height: 100%;
  width:50px;
  background-color: "white";
  transform:translateX(0%);
  transition:all 1.5s;
}