
.Footer-box
{
  display:block;
  position: relative;
  padding:2rem;

}

.Contact-box
{
 
  display:inline-block;
  position:absolute;
  left:15%;
  top:80%;
  transform:translateY(-50%);
  color:white;
}
.Logo
{
  display:inline-block;
  height:20rem;
  width:25rem;
}


.Footer_details
{
  position:relative;

}

.Social-media-box
{
  display:inline-block;
  position:absolute;
  top:80%;
  right:10%;
  transform:translateY(-50%);
  color:white;
}

.icon
{
  display:inline-block;
  margin:0.4rem;
}

.logo-container
{
  display:inline-block;
}


