
.Footer-box
{
  display:block;
  position: relative;
  padding:5rem;
  height:25rem;

}

.Contact-box
{
 
  display:inline-block;
  position:absolute;
  left:15%;
  top:50%;
  transform:translateY(-50%);
  color:white;
}
.Logo
{
  display:inline-block;
  height:10rem;
  width:15rem;
}


.Footer_details
{
  position:relative;

}

.Social-media-box
{
  display:inline-block;
  position:absolute;
  top:50%;
  right:10%;
  transform:translateY(-50%);
  color:white;
}

.icon
{
  display:inline-block;
  margin:0.4rem;
}

.logo-container
{
  display:inline-block;
}

.map-box{
  border-radius: 100%;
  border-color:1px solid red;
  width:200rem;
  position:absolute;
  top:15%;
  left:30%;


}

