.LogoBox
{
  height:30vh;
  width:100vw;
  display:block;
  background:linear-gradient(to right, rgba(104,110,112,0.5),rgba(104,110,112,0.5)) , url(./img3.1.jpeg);
  background-position:center;
  background-size:cover;
  background-position:center;
  text-align:center;
}