.paral1{ 
    /* The image used */
    /*background:linear-gradient(to bottom, rgba(6, 34, 16,0.6),rgba(6, 34, 16,0.6)),url("img1.jpg");*/
    background-image:url(./img1.jpg);

    /* Set a specific height */
    height: 60vh; 
    margin-top:0px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align:center;
    padding:10px;
}

.Primary-head
{
    font-size:6rem;
    color:black;
}

.Main-head
{
    font-size:10rem;
    display:block;
    color:black;


}

.paral2{ 
    /* The image used */
    background-image: url("./img2.jpg");

    /* Set a specific height */
    /*height:100vh;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom:2rem;
}


.paral3{ 
    /* The image used */
    background-image: url("./img1.jpg");



 
  display:block;
  background:linear-gradient(to right ,rgba(6,34,16,0.8),rgba(6,34,16,0.8)), url("./img3.jpg");
  background-position:center;
  background-size:cover;
  background-position:center;
  text-align:center;
  padding-top:0.6rem;
    /* Set a specific height */
    /*height:100vh;*/

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}




.head-back
{
    display:block;
    background-color:black;
    color:white;  
    padding:10px;
    margin:0px;
    height:250px;
}

.Certify-box
{
    border-top:5px solid black;
    position: relative;
    background-color:black;
    color:white;
}
