.Particle
{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:6;
}

.paral1{ 

      box-sizing: border-box;
 /*background:linear-gradient(to bottom, rgb(34,38, 41,0.5),rgba(34,38,41,0.5)),url("img2.8.jpeg");    /* Set a specific height */
    height: 100vh;
        /* Create the parallax scrolling effect */
        background-color:black;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    text-align:center;

    display:flex;
    justify-content: center;
    
    align-items:center;

    padding:6rem;

}
.paral1 .paral1-image {
  width: 100%;
  overflow: hidden;
  position: absolute;
}

.paral1 .paral1-image img {
  width: 100%;
}


.head-box
{
    /*background-color:rgba(0,0,0,0.6);*/
    padding:20px;
    letter-spacing:3px;
    border:10px solid #61892f;
    border-radius:1rem;
}



/* The typing effect */
/*
@keyframes typing {
  from { width: 0% }
  to { width: 50% }
}
*/
/* The typewriter cursor effect */
/*
@keyframes blink-caret {
  from, to { border-color: white }
  100% { border-color: black; }
}


*/

@font-face {
    font-family:myFirstFont;
    src: url('../Fonts/Cosmology.ttf');
}

@font-face {
    font-family:myfirstFont-1;
    src: url('../Fonts/google_roboto/Roboto-Thin.ttf');
}

@font-face {
    font-family:myfirstFont-2;
    src: url('../Fonts/Elianto/Elianto-Regular.ttf');
}

@font-face{
    font-family:navbar;
    src: url('../Fonts/google_roboto/Roboto-Thin.ttf')
  }

@font-face{
    font-family: sechead;
    src: url('../Fonts/google_roboto/Roboto-Italic.ttf')
}

@font-face{
    font-family: para;
    src: url('../Fonts/google_roboto/Roboto-Regular.ttf')
}

@font-face{
    font-family: label;
    src: url('../Fonts/google_roboto/Roboto-Medium.ttf')
}
@font-face{
    font-family: img1;
    src: url('../Fonts/google_roboto/Roboto-Light.ttf')
}
@font-face{
    font-family: img2;
    src: url('../Fonts/google_roboto/Roboto-LightItalic.ttf')
}

.Primary-head
{
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1rem; /* Adjust as needed */
    font-size:5rem;
    display:inline-block;
    color:white;
    font-weight:800;
    font-family:myfirstFont-1;
    text-align:center;
    /*
     animation: 
    typing 3.5s steps(10, end),
    blink-caret .75s step-end infinite;*/
}
   
   


.Home_About-box{
    height:50rem;
    position:relative;
}

.Paragraph{
    font-size:3rem;
    color:#fff;
    font-weight: 1000;
}

.left-part
{
    position:absolute;
    left:0px;
    top:0px;
    display:inline-block;
    width:100%;
    height:100%;
    background-color:#222629;  
    clip-path: polygon(0 0, 81% 0, 63% 100%, 0 100%);

}


.Secondary-head
{
   
    display:inline-block;
    color:whitesmoke;
    font-size:4.5rem;
    letter-spacing:0.2rem;
    padding-left:1.2rem;
    font-family: sechead;
    font-family:myfirstfont-2;

}


.about_secondary_head
{
    position: absolute;;
    left:7.3rem;
    top:2rem;
    border-left:1.3rem solid #86C232;

}



.paragraph
{
    position: absolute;
    width:60%;
    left:7.3rem;
    top:40%;
    color:white;
    font-size:2rem;
    letter-spacing:3px;
    font-family: para;
    
}




.right-part
{
    position:absolute;
    left:0px;
    top:0px;
    display:inline-block;    
    width:100%;
    height:100%;
    background-color:#86C232;
    clip-path:polygon(81% 0, 100% 0, 100% 100%, 63% 100%);


}

.image-box
{
    position:absolute;
    right:4rem;
    top:55%;
    transform:translateY(-50%);
    height:60%;
    width:15%;
    text-align:center;

}


.Main-head
{

      font-size:10rem;

    display:inline-block;
    color:whitesmoke;
    padding:5px;
    border-radius:5px;
    margin-top: 3rem;
    margin-bottom:10px;
    font-family:myFirstFont-2;
    letter-spacing: 0.5rem;
}



.jarallax {
    position: relative;
    z-index: 200;
}
/*.jarallax > .para12 {
    position: absolute;
      
    object-fit: cover;
     support for plugin https://github.com/bfred-it/object-fit-images 
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}*/


.paral3{ 
    /* The image used */

        /* Create the parallax scrolling effect */
    
   
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding:3rem 0;

   
  
}
.hide{
    transform: translateY(-100%);
}




.head-back
{
    display:block;
    background-color:black;
    color:white;  
    margin:0px;
    height:250px;
}

.hideNav{
    transform: translateY(-100%);
}


