.Particle          /*position of particles*/
{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  z-index:6;
}

.paral1{

      box-sizing: border-box;
      height:90vh;
      width:100vw;
      overflow:hidden;
      background-color:black;
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      text-align:center;
      display:flex;
      margin-top:15rem;
      position: relative;
    }
    

.paral1 .paral1-image {
  width: 100%;
  overflow: hidden;
  position: absolute;
}


.paral1 .paral1-image img {
  width: 100%;
}


.head-box
{
    padding-top:2rem;
    width:90%;
    letter-spacing:0.3rem;
    border:1rem solid #61892f;
    border-radius:1rem;
    display:block;
    height:fit-content;
    margin:0 auto;
    overflow: hidden;
    position:absolute;
    left:50%;
    top:30%;
    transform:translate(-50%,-30%);
}



.Primary-head
{
   
    margin: 0 auto;
    letter-spacing: 1rem;
    font-size:5rem;
    display:block;
    color:white;
    font-weight:800;
    font-family:myfirstFont-1;
    text-align:center;
}



.Secondary-head
{

    display:block;
    color:whitesmoke;
    font-size:4.5rem;
    letter-spacing:0.2rem;
    padding-left:1.2rem;
    font-family: sechead;

}



.Main-head
{

    font-size:10rem;
    display:inline-block;
    color:whitesmoke;
    padding:.5rem;
    border-radius:0.5rem;
    margin-top: 3rem;
    margin-bottom:0.5rem;
    font-family:myFirstFont-2;
    letter-spacing: 0.5rem;
}






.Home_About-box
{
    height:50rem;
    position:relative;
}



.Paragraph
{
    
    font-size:3rem;
    color:#fff;
    font-weight: 1000;
}




.left-part
{
    position:absolute;
    left:0px;
    top:0px;
    display:inline-block;
    width:100%;
    height:100%;
    background-color:#222629;
    clip-path: polygon(0 0, 81% 0, 63% 100%, 0 100%);
}

.about_secondary_head
{
    position: absolute;;
    left:7.3rem;
    top:2rem;
    border-left:1.3rem solid #86C232;

}



.paragraph
{
    position: absolute;
    width:60%;
    left:7.3rem;
    top:40%;
    color:white;
    font-size:2rem;
    letter-spacing:3px;
    font-family: para;

}




.right-part
{
    position:absolute;
    left:0px;
    top:0px;
    display:inline-block;
    width:100%;
    height:100%;
    background-color:#86C232;
    clip-path:polygon(81% 0, 100% 0, 100% 100%, 63% 100%);


}

.image-box
{
    position:absolute;
    right:4rem;
    top:55%;
    transform:translateY(-50%);
    height:60%;
    width:15%;
    text-align:center;

}


.hide{
    transform: translateY(-100%);
}


.head-back
{
    display:block;
    background-color:black;
    color:white;
    margin:0px;
    height:250px;
}

