
.proj_component
{
  padding:0rem;
  display:inline-block;
transform:skewX(100px);
margin:1rem;


}

.proj_image
{
  box-sizing:border-box;
  position:relative;
  height:30rem;
  width:50rem;
  border-radius:1.2rem;
  overflow: hidden;
  display:inline-block;
  margin:5rem;
 
}

.home_proj_name
{
  height:15%;
  width:100%;
  position:absolute;
  bottom:0rem;
  display:block;
  text-align:center;
  text-transform: uppercase;
  background-color:black;
  
}

.home_proj_name p
{
  font-family: label;
  color: whitesmoke;
  font-size: 2rem;
  letter-spacing:0.2rem;
  position:absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%);
}


.Side-1
{
  height:85%;
  display:inline-block;
  width:100%;
  text-align:center;
  position:absolute;
  top:0rem;
  left:0rem;
  color:white;
  border-radius:1.5rem;
  cursor:pointer;
}

.Side-2
{
  height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.8);
  position:absolute;
  cursor:pointer;
  left:0rem;
  top:0rem;
  text-align:center;
  transition:all 0.2s;
  opacity:0;
  transform:translateY(-100%);
}

.Side-1:hover .Side-2
{
  transform:translateY(0%);
  transition:all 1.5s;
  opacity:1;
}

.proj_title
{
  font-size:2rem;
  color:whitesmoke;
  text-align:center;
  display: inline-block;
  width:60%;
  position: absolute;
  left:50%;
  top:20%;
  transform:translateX(-50%);
  font-family: para;
}

.Proj_Details_button
{
  position: absolute;
  left:50%;
  bottom:20%;
  transform:translateX(-50%);
  padding:1rem;
  font-size:1.5rem;
  background-color:black;
  color: whitesmoke;
  border-radius:1.5rem;
  font-family: label;



}


.project-box
{
  text-align:center;
  padding:100px;
}

.primary-head
{
  color:white;
  position: relative;
  left:3rem;
  font-size:5rem;
  margin-bottom:2rem; 

}

.ongoing_secondary_head
{
  position:absolute;
  left:7.3rem;
  top:3rem;
  border-left:1.3rem solid #86c232;
}



