.a-member
{
  height:35rem;
  width:35rem;
  
  display:inline-block;
  margin: 5rem 8rem;
  position:relative;
  overflow:hidden;
  transition:all 1s;
  border-right:0.8rem;
  border-radius:1rem;
  /*box-shadow:0.5rem 0.5rem 1rem #61892f;
  border:0.7rem solid #61892f*/


}



.member-photo
{
  height:100%;
  width:100%;
  border-radius:1rem;
}

.team_part-1
{
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.6);
  clip-path:polygon(0% 0%,100% 0%,100% 50% , 0% 50%);
  transform:translateY(-50%);
  transition:all 1s;
}

.content-1
{
  position:absolute;
  top:40%;
  left:50%;
  transform:translateX(-50%);
  color:white;
  font-family: img1;
  font-size: 3rem;
}


.team_part-2
{
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.6);
  clip-path:polygon(0% 50%,100% 50%,100% 100% , 0% 100%);
  transform:translateY(50%);
  transition:all 1s;
}

.content-2
{
  position:absolute;
  top:60%;
  left:50%;
  transform:translateX(-50%);
  color:white;
  font-family:img2;
  font-size: 1.5rem;
}

.a-member:hover .team_part-1
{
  transform:translateY(0%);
}

.a-member:hover .team_part-2
{
  transform:translateY(0%);
}



