
.ongoing-project
{
  /*clip-path:polygon(0% 15%,15% 0%,100% 0%,100% 85%,85% 100%,0% 100%);*/
  border-top:1rem solid #86C232;
  margin-top:8rem;
  position:relative;
}
.project_component
{
  padding:1rem;
  display:inline-block;
  margin-top:5rem;

}

.ongoing_primary_head
{
  position:absolute;
  top:0%;
  left:50%;
  padding-top:2rem;
  transform:translateX(-50%);
}

.project_image
{
  position:relative;
  height:50rem;
  width:100rem;
  border-radius:1.2rem;
  overflow: hidden;
  box-shadow:0.3rem 0.3rem #86C232;
}


.ongoing_para
{
  margin-top:4.5rem;
  font-family:para;
  font-size:2.2rem;
  letter-spacing:0.2rem;
}


.ongoing_para-2
{
  margin-top:4rem;
  font-family:para;
  font-size:2rem;
  letter-spacing:0.2rem;
}

.proj_name
{
  height:10%;
  width:100%;
  background-color:black;
  color:whitesmoke;
  position:absolute;
  bottom:0rem;
  display:block;
  text-align:center;

}



.main{
  height:100%;
  display:inline-block;
  width:100%;
  text-align:center;
  position:absolute;
  top:0rem;
  left:0rem;
  color:white;
  border-radius:1.5rem;
  cursor:pointer;
}

.info
{
  height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.7);
  position:absolute;
  cursor:pointer;
  left:0rem;
  top:0rem;
  text-align:left;
  clip-path: polygon(0 0, 81% 0, 63% 100%, 0 100%);
  transition:all 1.5s;
  opacity:1;
  transform:translateX(0%);
}
.info2
{
  height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.7);
  position:absolute;
  cursor:pointer;
  left:0rem;
  top:0rem;
  text-align:left;
 
  transition:all 1.5s;
  opacity:1;
  transform:translateX(0%);
}

.side_logo
{
  height:100%;
  width:100%;
  background-color:rgba(134,194,50,0.6);
  position:absolute;
  cursor:pointer;
  left:0rem;
  top:0rem;
  text-align:left;
  clip-path:polygon(81% 0, 100% 0, 100% 100%, 63% 100%);
  transition:all 1.5s;
  opacity:1;
  transform:translateX(0%);
}
.arrow-button{
  border-radius:100px;
  background-color:#61892f;
  position:absolute;
  right:0rem;
  top:50%;

}
.arrow-button-left{
  border-radius:100px;
  background-color:#61892f;
  position:absolute;
  left:0rem;
  top:50%;

}
.second-display{
   height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.7);
  position:absolute;
  cursor:pointer;
  left:0rem;
  top:0rem;
  text-align:left;
  transition:all 1.5s;
  opacity:1;
  transform:translateX(100%);
}
.img2
{
   height:50%;
   width:20%;
   position: absolute;
   top:25%;
   right:2rem;
  }


.details{

  margin:2.5rem;
  width:60%;
  height:90%;
  position:relative;
  padding:1rem;

}
.project_details
{
  font-size:2rem;
  text-align:center;
  
  width:90%;

  position: absolute;
  left:2rem;
  right:2rem;
  top:2rem;
  bottom:2rem;
  transform:translateX(0%);
  font-family: para;
  text-align: justify;

}


.Details_button-1
{
  display:block;
  border-radius:1.2rem;
  padding:1.3rem;
  font-size:1.5rem;
  color:whitesmoke;
  background-color:black;
  margin:0 auto;
  width:15rem;
}


.Details_button-2
{
  display:block;
  border-radius:1.2rem;
  padding:1.3rem;
  font-size:1.5rem;
  color:whitesmoke;
  background-color:black;
  margin:0 auto;
  width:10rem;
  margin-top:1rem;
}




.project-box
{
  text-align:center;
  margin-top:5rem;
}

.primary-head
{
  color:green;
  position: relative;
  left:3rem;
  font-size:5rem;
  margin-bottom:2rem; 

}

.ongoing-box
{
  width:100%;

}