/*
.Join_Section-1
{
	display:inline-block;
	padding:2rem;
	background-color:black;


}

.form-box
{

	margin:0 auto;
	background-color:grey;
	display:block;
	width:70%;
	border-radius:0.7rem;
	padding:3rem;
	box-shadow:3px 3px whitesmoke;
}


.required{
      color:red;
}



.contain
{
	display:block;
	padding:0px;
	padding-left:4%;
	position: relative;
}

.contain-1
{
	padding-left:2%;
}


#join_formControlsText ,#join_formControlsEmail, #join_formControlsFile, #join_formControlsSelect
{
	width:80%;
	padding:0px;
}



#add_field
{
	border:3px solid black;
	width:80%;

}

.join_button
{
	color:black;
	border:3px solid black;
	display:block;
	margin-left:40%;
	transform:translate(-40%);

}
*/

.form-body
{
	background-color:black;
	
}


.form-container
{
	width:100%;
	text-align:center;
	background-color:black;
	margin-top:-4rem;
	clip-path:polygon(0% 20%,20% 0%,100% 0%,100% 80%,80% 100%,0% 100%);

	
}

.form-box
{
	width:100%;
	background-color:#86C232;
	margin-top:15vh;

}
.load-text{
	overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: 1rem; /* Adjust as needed */
    font-size:5rem;
    color:white;
    font-weight:800;
    font-family:myfirstfont-2;
    text-align:center;
    position:relative;
    text-transform:uppercase;
    top:0%
}

.ring {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #86C232;
    border-radius: 100%;


}
.load{
	background-color: rgba(0,0,0,1);
	height:300px;
	width:400px;
	position:absolute;
	top:40vh;
	left:50%;
	transform:translateX(-50%);
	border:5px solid #61892f;
	border-radius:1rem;
	text-align:center;
}

.ring-2 {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 4px solid #86C232;
    border-radius: 100%;
     top: 100px;
}

.ball-holder {
    position: absolute;
    width: 50px;
    height: 100px;
    left: 20px;
    top: 0px;
}

.ball {
    position: absolute;
    top: -11px;
    left: 0;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #86C232;
}
.load .ball-holder {animation: loadingE 1.3s linear infinite;}


@keyframes loadingE {
    0 {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}

