/*
.Join_Section-1
{
	display:inline-block;
	padding:2rem;
	background-color:black;


}

.form-box
{

	margin:0 auto;
	background-color:grey;
	display:block;
	width:70%;
	border-radius:0.7rem;
	padding:3rem;
	box-shadow:3px 3px whitesmoke;
}


.required{
      color:red;
}



.contain
{
	display:block;
	padding:0px;
	padding-left:4%;
	position: relative;
}

.contain-1
{
	padding-left:2%;
}


#join_formControlsText ,#join_formControlsEmail, #join_formControlsFile, #join_formControlsSelect
{
	width:80%;
	padding:0px;
}



#add_field
{
	border:3px solid black;
	width:80%;

}

.join_button
{
	color:black;
	border:3px solid black;
	display:block;
	margin-left:40%;
	transform:translate(-40%);

}
*/

.form-body
{
	background-color:black;
}


.form-container
{
	width:100%;
	text-align:center;
	background-color:black;
	margin-top:6rem;
	clip-path:polygon(0% 20%,20% 0%,100% 0%,100% 80%,80% 100%,0% 100%);

	
}

.form-box
{
	width:100%;
	background-color:#86C232;
	margin-top:-6rem;

}

.ring {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    padding: 10px;
    border: 7px dashed #86C232;
    border-radius: 100%;


}
.load{
	background-color: rgba(0,0,0,1);
	height:300px;
	width:400px;
	position:absolute;
	top:40vh;
	left:50%;
	transform:translateX(-50%);
	border:5px solid #61892f;
	border-radius:1rem;
	text-align:center;
}

.load .ring {animation: loadingD 1.5s .3s cubic-bezier(.17,.37,.43,.67) infinite;}

@keyframes loadingD {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(180deg);}
    100% {transform: rotate(360deg);}
}