
.svg-wrapper {
  height: 60px;
	margin: 0 auto;
  position: relative;
  z-index:30;
}

.shape {
  box-sizing:border-box;
  fill: transparent;
  stroke-dasharray: 150 540;
  stroke-dashoffset:-474;
  stroke-width:10px;
  stroke:#8cc232;
}

.text {
  color: #fff;
  font-family:navbar;
  font-size:2.2rem;
  letter-spacing:0.1rem;
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}

@keyframes draw {
  0% {
    stroke-dasharray: 100 540;
    stroke-dashoffset: -474;
    stroke-width:15px;
  }
  100% {
    stroke-dasharray:760;
    stroke-dashoffset: 0;
    stroke-width:5px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}