.navbar.center .navbar-inner {
  text-align: center;
}

.navbar.center .navbar-inner .nav {
  display:inline-block;
  float: none;
}

.Nav-content
{
  background-color:black;
  font-size:20px;
  position: absolute;;
  left:50%;
  transform:translateX(-50%);
  

}

.Navbar
{
  background-color:black;
  overflow:hidden;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}