.Certify-box
{
    display:block;
    position: relative;
    background-color:black;
    height:10rem;
    color:white;
    margin-top:0rem;
    padding:3rem;
    border-top:5px solid #86c232; 
  
    /*background:linear-gradient(to right, rgba(134,194,50,0.3)
    ,rgba(97,137,47,0.3)) , url(./img1.jpg);*/
    background-position:center;
    background-size:cover;
 
}

.Foot_Logo
{
    width:25rem;
    height:15rem; 
    padding:0px;
}

.logo-container
{

    display:inline-block;
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-30%);

}


.Foot_status-1
{
    display:inline-block;
    position:absolute;
    left:10%;
    top:50%;
    font-size:1.8rem;
    color:lightgrey;
    /*background-color:rgba(34,38,41,0.3);*/
    border-radius:1rem;
    padding:0.5rem;
    text-align:center;
    font-family: label;

}

.Foot_status-2
{
    display:inline-block;
    position:absolute;
    right:10%;
    top:50%;
    font-size:1.8rem;
    color:lightgrey;
    /*background-color:rgba(34,38,41,0.3);*/
    border-radius:1rem;
    padding:0.5rem;
    text-align:center;
    font-family: label;

}


.Credits
{
    text-decoration:none;
    color: whitesmoke;
    font-size: 1.9rem;
    font-family: label;
    display:inline-block;    
}