.Section-1
{

  text-align:center;
  background:black;
 
}

.Section-2
{

  text-align:center;
  background:black;
 
}


.a-display
{
  display:inline-block;
  width:80%;
}
.b-display
{
  display:inline-block;
  width:80%;
}
.c-display
{
  display:inline-block;
  width:70%;
}

.section-detail
{
  width:80%;
  height:auto;
  display:box;
  text-align:center;
  margin:0 auto;
 
}

.info-box
{
  height:25rem;
  width:25rem;
  display: inline-block;
  overflow:hidden;
  margin:2rem;
}

.org_logo
{
  width:100%;
  height:80%;
}

.org_name
{
  width:100%;
  height:20%;

}