li a {
    display: inline;
    width: 10rem;
}
#nav1{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100vw;
    background:rgba(0,0,0,0.5);
    z-index:15;
    height:15rem;
}

.temp-box
{
    position:absolute;
    left:0px;
    top:0px;
    background-color:black;
    z-index:5;
    height:15rem;
    width:100vw;
}

li {
    text-align: center;
     float: left;
     margin:0 10px;
  }

.navlogo{
    position:absolute;
    top:0%;
    left:40%;
    opacity: 1
}

.Nav-link{
    color:#86c232;
    padding:1rem 1rem;
    font-size:2rem;
    padding-bottom:2rem;
    color:white;
    margin:0 1rem;
    position:absolute;
    font-family: navbar;
    letter-spacing: 0.1rem;
}
/*the half circle for logo*/
.half-circle {
    width: 30rem;
    height: 13rem; /* as the half of the width */
    background:transparent;
    border-bottom-left-radius: 14rem;  /* 10rem of height + 1rem of border */
    border-bottom-right-radius: 14rem; /* 10rem of height + 1rem of border */
    border: 1rem solid #86c232;
    border-bottom: 0;



}
@media only screen and (max-width: 75em){
  .half-circle{
  width: 25rem;
  height: 11rem;
  border-bottom-left-radius: 10rem;  /* 10rem of height + 1rem of border */
  border-bottom-right-radius: 10rem;

}

}
@media only screen and (max-width: 56.25em){
  .half-circle{
  width: 20rem;
  height: 10rem;
  border-bottom-left-radius: 10rem;  /* 10rem of height + 1rem of border */
  border-bottom-right-radius: 10rem;
}

}
/*defined position of each list item*/
.Home{
    position:absolute;
    top:10%;
    left:13%;
}
.About{
    position:absolute;
    top:10%;
    left:28%;
}
.rightPart{
    float:right;
}
.Project{
    position: absolute;
    top:10%;
    left:67%;
    margin-right:10rem;
}
.JoinNew{
    position: absolute;
    top:10%;
    left:80%;
    margin-right:10rem;
}
.Blogs{
    position: absolute;
    top:25%;
    left:90%;
    margin-right:10rem;
}
@media only screen and (max-width: 56.25em){
  .Home{
    left: 5%;
  }
  .About{
    left: 20%;
  }
}
