

#nav2{
  list-style-type: none;
    margin: 0;
    padding: 0;
     overflow: hidden;
      position: fixed;
    top: 0;
    width: 100%;
  background-color:rgba(0,0,0,1);
  height:80px;
  transition:all 0.5s;

  transform: translateY(-100%);
  z-index:12;

/*  transform: translateY(0%);
  z-index:3;*/


}

li {
    text-align: center;
     float: left;
     margin:0 10px;
  }
.navlogo2{
  position:absolute;
  top:10%;
  left:10%;
  height:12rem;
  width:10rem;
}


.Home2{
position:absolute;
top:10%;
left:25%;

}
.About2{
 position:absolute;
top:10%;
left:40%;

}

.Project2{
position: absolute;
top:10%;
left:55%;
margin-right:100px;
}
.JoinNew2{
position: absolute;
top:10%;
left:70%;
margin-right:100px;
}
.Blogs2{
position: absolute;
top:10%;
left:85%;
margin-right:100px;
}