

#nav3{
  list-style-type: none;
    margin: 0;
    padding: 0;
     overflow: hidden;
      position: fixed;
    top: 0;
    width: 100%;
  background-color:rgba(0,0,0,1);
  height:8rem;
  transition:all 0.5s;
  transform: translateY(0%);
  z-index:12;

}

li {
    text-align: center;
     float: left;
     margin:0 10px;
  }
.navlogo3{
  position:absolute;
  top:10%;
  left:10%;
  height:12rem;
  width:10rem;
}


.Home3{
position:absolute;
top:10%;
left:25%;

}
.About3{
 position:absolute;
top:10%;
left:40%;

}

.Project3{
position: absolute;
top:10%;
left:55%;
margin-right:100px;
}
.JoinNew3{
position: absolute;
top:10%;
left:70%;
margin-right:100px;
}
.Blogs3{
position: absolute;
top:10%;
left:85%;
margin-right:100px;
}