.b-member
{
  height:20rem;
  width:20rem;
  background-color:blue;
  display: inline-block;
  margin:2.8rem;
  position:relative;
  overflow:hidden;
  transition:all 1s;
  border-radius:1rem;
}



.member-photo
{
  height:100%;
  width:100%;
}

.part-1
{
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.6);
  clip-path:polygon(0% 0%,100% 0%,100% 50% , 0% 50%);
  transform:translateY(-50%);
  transition:all 1s;
}

.b_content-1
{
  position:absolute;
  top:20%;
  left:50%;
  transform:translateX(-50%);
  font-size:2.5rem;
  font-family:para;
  color:whitesmoke;


}


.part-2
{
  position:absolute;
  top:0px;
  left:0px;
  height:100%;
  width:100%;
  background-color:rgba(34,38,41,0.6);
  clip-path:polygon(0% 50%,100% 50%,100% 100% , 0% 100%);
  transform:translateY(50%);
  transition:all 1s;
}

.b_content-2
{
  position:absolute;
  top:60%;
  left:50%;
  transform:translateX(-50%);
  font-size:1.7rem;
  font-family:img1;
  color:whitesmoke;
}

.b-member:hover .part-1
{
  transform:translateY(0%);
}

.b-member:hover .part-2
{
  transform:translateY(0%);
}



